@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto+Mono&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --clr-white-100: #F0F0F0;
    --clr-brown-400: #C39F68;
    --clr-black-800: #0D0D0F;

    --ff--primary: 'Bad Script', cursive;
    --ff-accent: 'Roboto Mono', monospace;
;
}

h1, 
h2, 
h3,
p,
body {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    font-weight: 400;
    font-family: var(--ff--primary);
    font-size: 1.3125rem;
    height: 100vh;
    width: 100vw;
    background-color: var(--clr-white-100);
}

h1,
h2 {
    line-height: 1;
    font-family: var(--ff--primary);
    font-weight: 900;
}

/*Navigation*/

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em 0;
}

.navigation a {
    position: relative;
    font-size: clamp(0.70rem, 2vw, 1.5rem);
    text-align: center;
    width: max-content;
    color: var(--clr-black-800);
    text-decoration: none;
    font-weight: bold;
    padding: 0 0.5em;
    z-index: 12;
}

.navigation a::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 0;
    transition: all 0.35s;
    background-color: var(--clr-brown-400);
    border-radius: 0.5em;
    z-index: -1;
}

.navigation a:hover::after {
    height: 100%;
}

/*Hero Section*/

.hero{
    z-index: 10;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

img {
    position: absolute;
    width: min(60%, 25rem);
}

.branch_one {
    transform: rotateY(180deg);
    top: 45px;
    left: 10px;
}

.branch_two {
    bottom: 45px;
    right: 20px;
}

.bush_one {
    left: -50;
}

@keyframes float {
    to {
        transform: translateY(15px);
    }
}

.shadow {
    width: 10em;
    position: relative;
    bottom: -100px;
    left: 15px;
    z-index: -10;
    transform: scale(1.2);
    animation: shadowGrow 2s ease-in-out alternate-reverse infinite;
}

@keyframes shadowGrow {
    to {
        transform: scale(0.8);
    }
}

.type {
    position: relative;
    font-size: clamp(1rem, 8vw, 8rem);
    animation: float 2s ease-in-out alternate-reverse infinite;
    border-bottom: 2px solid var(--clr-black-800);
    width: max-content;
    padding: 1em 1em 0 1em;
    z-index: -11;
}

.type::before,
.type::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.type::before {
    background: var(--clr-white-100);
    animation: typewriter steps(2) 3s 1s forwards;
}

.intro {
    margin-top: 1em;
    font-size: clamp(1rem, 8vw, 2rem);
    transform: translateY(3em);
    opacity: 0;
    animation: fadeInUp 2s ease calc(3s + 1s) forwards;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Footer*/

footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 40px
}

footer img {
    margin-left: 1em;
}

footer p {
    font-weight: bolder;
    margin-right: 1em;
    float: right;
}



